:root {
    --cell-size: 20vw;
}


.game-board {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, minmax(100px,var(--cell-size)));
    grid-template-rows: repeat(3, minmax(100px,var(--cell-size)));
}