.game-board {
    position: relative;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, var(--cell-size));
    grid-template-rows: repeat(3, var(--cell-size));
    border-style: solid;
    border-radius: 25px;
}

.winner-line {
    border: none;
    background-color: var(--game-color-6);
    width: var(--line-width);
    height: calc(var(--cell-size) * 0.05);
    border-radius: 5px;
    margin: 0;
    transform-origin: left;
    animation: winner-line-intro var(--winner-animation-duration) ease-in-out;
}

.winner-line-transition {
    transition: width 0.5s ease-in-out;
}

.line-box {
    width: var(--line-width);
    position: absolute;
    display: flex;
    justify-content: start;
    transform: translate(var(--x-translation), var(--y-translation)) rotate(var(--line-rotation));
}

@keyframes winner-line-intro {
    from {
        transform: scaleX(0.05);
    }

    to {
        transform: scaleX(1);
    }
}