.game-box {
    font-size: var(--font-size);
    color: var(--game-color-5);
    border-style: solid;
    border-color: var(--game-color-5);
    border-width: 0.3vw;
    width:75%;
    height: 75%;
    background-color: var(--game-color-2);
    border-radius: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.1s ease-out, height 0.1s ease-out;
    user-select: none;
}

.game-box-available:hover {
    width: 85%;
    height: 85%;
    cursor: pointer;
}