:root {
    --font-size: calc(var(--cell-size) * 0.5)
}

.game-box {
    font-size: var(--font-size);
    color: #32445C;
    border-style: solid;
    border-color: #282F38;
    border-width: 0.3vw;
    width:75%;
    height: 75%;
    background-color: #2764B2;
    border-radius: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.1s ease-out, height 0.1s ease-out;
    user-select: none;
}

.game-box-available:hover {
    width: 85%;
    height: 85%;
    cursor: pointer;
}
