.game {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--game-color-3);
    border-radius: 25px;
    overflow: hidden;
    width: fit-content;
    padding: 1em;
}