.game {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--game-color-3);
    border-radius: .5rem;
    overflow: hidden;
    width: fit-content;
    padding: .25em;
    user-select: none;
    gap: .2rem;
}

#turn h2 {
    font-size: .4rem;
}

#turn h1 {
    font-size: .5rem;
}

#turn>* {
    text-align: center;
    margin: 0;
}

#turn {
    display: flex;
    flex-direction: column;
    gap: calc(var(--cell-size)*0.1);
}