:root {
    --game-color-1: #0B65DB;
    --game-color-2: #2764B2;
    --game-color-3: #335786;
    --game-color-4: #32445C;
    --game-color-5: #282F38;
    --game-color-6: #2D3033;
    --cell-size: 100px;
    --font-size: 50px;
    --line-rotation: 0deg;
    --position-x: 0;
    --position-y: 0;
    --x-translation: calc(var(--cell-size) * var(--position-x));
    --y-translation: calc(var(--cell-size) * var(--position-y));
    --winner-width: 2.5;
    --line-width: calc(var(--cell-size) * var(--winner-width));
    --winner-animation-duration: 0.3s;
    --secs-modal-delay: 0.3s;
}

body {
    background-color: var(--game-color-4);
    justify-items: center;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: var(--font-size);
}

h2 {
    font-size: calc(var(--font-size)*0.4);
}

h3{
    font-size: calc(var(--font-size)*0.3);
}

@media (min-width: 500px) {
    :root {
        --cell-size: 120px;
        --font-size: 60px;
        --x-translation: calc(var(--cell-size)*var(--position-x));
        --y-translation: calc(var(--cell-size)*var(--position-y));
        --line-width: calc(var(--cell-size) * var(--winner-width));
    }
}

@media (min-width: 600px) {
    :root {
        --cell-size: 130px;
        --font-size: 65px;
        --x-translation: calc(var(--cell-size)*var(--position-x));
        --y-translation: calc(var(--cell-size)*var(--position-y));
        --line-width: calc(var(--cell-size) * var(--winner-width));
    }
}

@media (min-width: 1000px) {
    :root {
        --cell-size: 150px;
        --font-size: 75px;
        --x-translation: calc(var(--cell-size)*var(--position-x));
        --y-translation: calc(var(--cell-size)*var(--position-y));
        --line-width: calc(var(--cell-size) * var(--winner-width));
    }
}
@media (min-width: 1200px) {
    :root {
        --cell-size: 180px;
        --font-size: 90px;
        --x-translation: calc(var(--cell-size)*var(--position-x));
        --y-translation: calc(var(--cell-size)*var(--position-y));
        --line-width: calc(var(--cell-size) * var(--winner-width));
    }
}
@media (min-width: 1400px) {
    :root {
        --cell-size: 200px;
        --font-size: 100px;
        --x-translation: calc(var(--cell-size)*var(--position-x));
        --y-translation: calc(var(--cell-size)*var(--position-y));
        --line-width: calc(var(--cell-size) * var(--winner-width));
    }
}