:root {
    --game-color-1: #0B65DB;
    --game-color-2: #2764B2;
    --game-color-3: #335786;
    --game-color-4: #32445C;
    --game-color-5: #282F38;
    --game-color-6: #2D3033;
    --cell-size: 75px;
    --font-size: 37.5px;
    --line-rotation: 0deg;
    --position-x: 0;
    --position-y: 0;
    --x-translation: calc(var(--cell-size) * var(--position-x));
    --y-translation: calc(var(--cell-size) * var(--position-y));
    --winner-width: 2.5;
    --line-width: calc(var(--cell-size) * var(--winner-width));
    --secs-modal-delay: 0.3s;
}

body {
    background-color: var(--game-color-4);
    justify-items: center;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 600px) {
    :root {
        --cell-size: 100px;
        --font-size: 50px;
        --x-translation: calc(var(--cell-size)*var(--position-x));
        --y-translation: calc(var(--cell-size)*var(--position-y));
        --line-width: calc(var(--cell-size) * var(--winner-width));
    }
}

@media (min-width: 1000px) {
    :root {
        --cell-size: 150px;
        --font-size: 75px;
        --x-translation: calc(var(--cell-size)*var(--position-x));
        --y-translation: calc(var(--cell-size)*var(--position-y));
        --line-width: calc(var(--cell-size) * var(--winner-width));
    }
}