.screen-background {
    height: inherit;
    width: inherit;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    background-color: rgba(1, 1, 1, 0.5);
    animation: bg-fade-in var(--secs-modal-delay) linear;
}

@keyframes bg-fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

h1.game-over {
    font-size: calc(var(--font-size) * 0.5);
}

.modal {
    text-align: center;
    background-color: var(--game-color-1);
    padding: 3%;
    border-radius: 20px;
    border-style: solid;
    animation: modal-delay var(--secs-modal-delay) steps(1, end), modal-intro .5s ease-in-out var(--secs-modal-delay);
}

@keyframes modal-delay {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes modal-intro {
    from {
        transform: scale(0);
    }

    50% {
        transform: scale(1.1);
    }

    75% {
        transform: scale(0.9);
    }

    to {
        transform: scale(1);
    }
}

.winner-message {
    font-size: calc(var(--font-size)*0.3);
}

.remove-margin {
    margin-bottom: 0;
}

.winner-player {
    font-size: calc(var(--font-size)*0.7);
    margin: 0;
}

.btn-restart {
    font-size: calc(var(--font-size)*0.3);
    background-color: var(--game-color-3);
    border-radius: 5px;
    border-style: solid;
    border-color: var(--game-color-6);
}

.btn-restart:hover {
    background-color: var(--game-color-2);
    cursor: pointer;
}